@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.social {
  &__list {
    @include mix.displayFlex(flex, start, center);
    gap: 18px
  }

  &__icon {
    width: 2.5em;
    height: 2.5em;
    transition: box-shadow .3s ease;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 1px 10px 11px -4px rgba(1, 1, 1, 0.6);
      }
    }
  }

  &__label {
    display: none;
  }
}