@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/logo';

.footer {
  padding: 2em 0;
  @include mix.adaptivFont(14, 8);
  line-height: 1.3em;
  color: var.$lightColor;
  background-color: var.$darkColor;
  & p {
    margin: 0;
  }

  &.footer-show {

  }

  &__wrapper {
    @include mix.displayFlex(flex, space-between, center);
  }

  &__logo-link {
    color: var.$lightColor;
  }

  &__requisites {
    padding: 0 1em;
    text-align: center;
    flex: 0 1 500px;
    &>p>a {
      display: inline-block;
      margin-top: 4px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .info {
    @include mix.adaptivFont(12, 8);
    line-height: 1;
  }

  &__author {
    &>a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}