<footer class="footer">
	<div class="container">
		<div class="footer__wrapper animation">
<!--			@@include('../modules/logo-footer.html', {-->
<!--			'class-wrapper': 'footer__logo',-->
<!--			'class-logo-link': 'footer__logo-link'-->
<!--			})-->
			<div class="footer__requisites">
				<p>Сайт носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ст. 437(2) Гражданского кодекса РФ.</p>
				<p><a title="Политика конфиденциальности" target="_blank" href="../../privacy.html">Политика конфиденциальности</a></p>
			</div>
			<div class="footer__copyright">
				<p>ОГРН ИП 321237500458724</p>
				<p>© ohransystem.ru, 2023</p>
				<address class="footer__author"><a title="Телеграм автора автора сайта" href="https://t.me/efremandre">разработано efremandre</a></address>
			</div>
		</div>
	</div>
</footer>