@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__catalog {
  padding: 3em 0;
}

.brands {
  &__wrapper {
    @include mix.displayFlex(flex, space-between, center);
    gap: 15px;
  }
}

.catalog {
  &__title {
    margin: 1em 0;
  }
}