@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__catalog {
  padding: 3em 0;
}

.brands {
  position: relative;
  padding: 1em 0;
  overflow: hidden;
  &__wrapper {
    @include mix.displayFlex(flex, start, center);
    animation: marquee 200s linear infinite;
  }

  &__wrapper-image {
    padding: 0 50px;
    flex-shrink: 0;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.catalog {
  &__title {
    margin: 1em 0;
  }

  &__slider-container {
    position: relative;
  }
}

.card {
  &__image-wrapper_catalog {
    margin-bottom: 110px;
    padding: 40px;
  }

  &__title-wrapper_catalog {
    padding: 10px 20px;
  }
  
  &__title-wrapper_catalog {
    transform: translateY(78%);

    &::before {
      @extend %pseudoElement;
      top: -16px;
      height: 50px;
      width: 100%;
    }
  }

}