@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__fullscreen {
  position: relative;
}

.fullscreen {
  @include mix.displayFlex(flex, center, start);
  min-height: 100vh;
  background: #ccc url('../../assets/images/hero/bg-hero.jpg') top center / cover no-repeat;
  @media (any-hover: hover) {
    background-attachment: fixed;
  }

  &__wrapper-image {
    @include mix.displayFlex(flex, center, center);
    height: 400px;
    margin-bottom: 1.5em;
    background: url("../../assets/images/hero/camera-hero.png") center -60px / contain no-repeat;
  }

  &__feature-body {
    @include mix.displayFlex(flex, center, center);
    flex-direction: column;
    text-align: center;
    color: var.$lightColor;
  }

  &__wrapper {
    @include mix.displayFlex(flex, center, center);
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-bottom: 1em;
    text-align: center;
    letter-spacing: 0.02em;
  }

  &__main-title {
    margin-bottom: 0.3em;
  }

  &__subtitle {
    @include mix.adaptivFont(20, var.$generalBigTextSizeMin);
    margin-bottom: 1em;
    color: #FFFFFF;
  }

  &__buttons {
    @include mix.displayFlex(flex, center, center);
    width: 100%;
  }

  &__button {
    box-sizing: border-box;
  }

  @media (any-hover: none) {
    &__button_order-call {
      display: none;
    }

    &__button_call {
      display: flex;
    }
  }

  @media (any-hover: hover) {
    &__button_order-call {
      display: flex;
    }

    &__button_call {
      display: none;
    }
  }
}

.feature-top-left {
  transform: translateX(-250px);
  animation: top-left 2s ease;
}

.feature-top-right {
  transform: translateX(220px);
  animation: top-right 2s ease;
}

.feature-bottom-left {
  transform: translate3d(-150px, 100px, 0);
  animation: bottom-left 2s ease;
}

.feature-bottom-right {
  transform: translate3d(120px, 100px, 0);
  animation: bottom-right 2s ease;
}


@keyframes top-left {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-250px);
  }
}

@keyframes top-right {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(220px);
  }
}

@keyframes bottom-left {
  0% {
    opacity: 0;
    transform: translate3d(0, 0 , 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-150px, 100px, 0);
  }
}

@keyframes bottom-right {
  0% {
    opacity: 0;
    transform: translate3d(0, 0 , 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(120px, 100px, 0);
  }
}
