@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__fullscreen {
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, .6);
}

.fullscreen {
  @include mix.displayFlex(flex, center, start);
  min-height: 100vh;
  background: #ccc url('../../assets/images/hero/bg-hero.jpg') top center / cover no-repeat;
  @media (any-hover: hover) {
    background-attachment: fixed;
  }

  &__wrapper-image {
    height: 400px;
    background: url("../../assets/images/hero/camera-hero.png") center -40px / contain no-repeat;
  }

  &__wrapper {
    @include mix.displayFlex(flex, center, center);
    flex-direction: column;
    position: relative;
    padding-bottom: 1em;
    text-align: center;
    letter-spacing: 0.02em;
  }

  &__main-title {
    margin-bottom: 0.3em;
  }

  &__subtitle {
    @include mix.adaptivFont(20, var.$generalBigTextSizeMin);
    margin-bottom: 1em;
    color: #FFFFFF;
  }

  &__buttons {
    @include mix.displayFlex(flex, center, center);
    width: 100%;
  }

  &__button {
    box-sizing: border-box;
  }

  @media (any-hover: none) {
    &__button_order-call {
      display: none;
    }

    &__button_call {
      display: flex;
    }
  }

  @media (any-hover: hover) {
    &__button_order-call {
      display: flex;
    }

    &__button_call {
      display: none;
    }
  }
}
